.my-movies {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 2rem;
  }

  span {
    font-size: 1.5rem;
  }

  ul {
    width: 90%;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      margin-bottom: 1rem;
    }
  }
  
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    a {
        text-decoration: none;
        color: var(--color-2);
        font-weight: bold;
    }

    button {
        border: 2px solid tomato;
        padding: 1rem;
        color: black;
        transition: .3s ease-in-out;

        &:hover{
            background-color: tomato;
            color: white;
        }
    }
  }
}
