.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* padding: 20px; */
  /* gap: 20px; */
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--body-color);
  border-radius: 10px;
}

.detailsCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 20px 0px;
  background-color: var(--highlight-color);
}

.detailsFilm {
  padding: 20px 0px;
  background-color: var(--primary-color);
  margin: 10px;
  text-align: justify;
  width: 90%;
}

.posterDetails {
  width: 90%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  display: flex;
}

.posterDetails:hover {
  transform: translateY(-10px);
}

.favoriteContainerButton{
  background-color: var(--color-1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  z-index: 1;
  position: absolute;
  right: 1.75rem;
  top: 115px;
}

.favoriteIcon{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.average{
  margin: 20px 0px;
  font-size: bold;
}

.title {
  font-size: 2rem;
  color: var(--text-color-1);
  margin-bottom: 10px;
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--highlight-color-2);
  border-radius: 10px;
}

.video {
  border: 0;
  border-radius: 10px;
  width: 100%;
  height: 50vh;
}

.videoList {
   width: 100%;
   .iframe {
    width: 100%;
   }
}

@media screen and (max-width: 1440px) {
  .detailsCardContainer {
    flex-direction: column;
    gap: 10px;
  }

  .videoContainer {
    flex-direction: column;
    width: 100%;
    background-color: var(--highlight-color);
  }
}

@media screen and (min-width: 768px){
  .videoContainer {
    flex-direction: row;
    width: 100%;
    background-color: var(--highlight-color);
  }
}