:root{
  --color-1 : #f6f7fa;
  --color-2 : #6859cc;
  --color-3 : #d4d16e;
  --color-4 : #1f1f26;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}